<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Free_seles.My.MySettings.Free_SelesConnectionString" connectionString="Data Source=DESKTOP-EQDG4D1;Initial Catalog=Free_Seles;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
